html,
body,
div,
p,
a,
span,
img,
h1,
input,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

input,
button {
  border: 0 none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}
